# Configurações do Vercel e Vite

# URL do Backend Java (Render ou Localhost)
# Exemplo Local: http://localhost:8080
# Exemplo Produção: https://brilhamais-backend-java.onrender.com
VITE_API_URL=http://localhost:8080/api/v1

# URL do Microserviço Python de Ingestão de Dados (Render ou Localhost)
# Exemplo Local: http://localhost:8001
# Exemplo Produção: https://brilhamais-backend-python.onrender.com
VITE_PYTHON_API_URL=http://localhost:8001
